.tx-hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tx-hero__image {
  flex-grow: 2;
  order: 1;
  padding: 1.5rem;
}

.tx-hero__content {
  flex-shrink: 1;
  padding-bottom: 1rem;
  padding-left: 0.6rem;
  margin: 0 auto;
}
